<div class="container">
  <div class="users-form">
    <h2>note+ へようこそ</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
          class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", 
          class: "form-control", placeholder: "パスワード" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" ,
          class: "form-control", placeholder: "パスワード確認" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "form-control btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
