<div style="border-bottom: 1px solid;">
  <div class="row">
    <div class="col s20 valign-wrapper">
      <div class="col s2">
      <%= link_to user_image_for(comment.user, option={class:"icon-image", size: "35"}), comment.user %>
      </div>
      <div class="col s6">
        <%= link_to comment.user.name, comment.user %>
      </div>
      <div class="col s6 offset-s1 offset-right-s9">
        <%= date_format(comment.created_at) %>
      </div>
    </div>
    <div class="col s4">
      <% if current_user %>
        <% if comment.user_id==current_user.id %>
          <%= link_to "削除", article_comment_path(comment, article_id: @article.id), method: :delete, class: "btn", remote: true %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col s24">
      <p><%= comment.content %></p>
    </div>
  </div>
</div>
