<div class="comment">
  <div class="comment-header">
    <div class="ch-user-info">
      <%= link_to user_image_for(comment.user, option={class:"icon-image", size: "35"}),
        comment.user %>
      <%= link_to comment.user.name, comment.user %>
      <span class="time">
      <%= time_ago_in_words(comment.created_at) %>
      </span>
    </div>
    <div class="ch-comment-info">
        <% if current_user %>
        <% if comment.user_id==current_user.id %>
          <%= link_to "削除", comment, method: :delete, class: "delete" %>
        <% end %>
        <% end %>
    </div>
  </div>
  <div class="comment-body">
    <%= simple_format(comment.content) %>
  </div>
</div>
