<div class="col-md-4 article-one"  id="article-<%= article.id %>">
  <div class="card sticky-action hoverable">
     <div class="card-image">
       <%= link_to image_tag("sample-1.jpg", class: "header-image"), article%>
       <span class="card-title activator"><%= link_to article.title.truncate(35), article, id: "article-title"%><i class="material-icons right">more_vert</i></span>
     </div>
     <div class="card-content">
       <div class="icons">
         <i class="material-icons like">sentiment_very_satisfied</i>
         <span><%= article.likes.count %></span>
         <i class="material-icons bad">sentiment_very_dissatisfied</i>
         <span><%= article.bads.count %></span>
       </div>
       <% if article.price.min != 0 %>
         <div class="icons">
           <i class="material-icons purchase">people</i>
           <span><%= article.purchases.count %></span>
         </div>
         <div class="icons right">
           <%= display_in_yen(article.price.min) %>
         </div>
       <% end %>
     </div>
     <div class="card-action">
        <div class="footer row">
          <div class="profile">
            <%= user_image_for(article.user) %>
            <%= link_to article.user.name, article.user, class: "user-name" %>
          </div>
          <div class="profile valign-wrapper right">
            <%= date_format(article.created_at) %>
          </div>
        </div>
     </div>
     <div class="card-reveal">
      <span class="card-title"><%= link_to article.title.truncate(38), article, id: "article-title"%><i class="material-icons right">close</i></span>
      <p><%= article.content.truncate(100) %></p>
    </div>
  </div>
</div>
