<div class="col-sm-3 col-xs-3 col-md-3 article-one"  id="article-<%= article.id %>">
  <div class="thumbnail">
    <%= image_tag("header.jpeg", class: "header-image")%>
    <div class="content_wrapper">
      <div class="title">
        <p><%= link_to article.title, article, id: "article-title" %></p>
      </div>
      <div class="article-info row">
        <div class="like">
          <i class="glyphicon glyphicon-heart like-icon"></i>
          <span><%= article.likes.count %></span>
        </div>
        <div class="bad">
          <i class="glyphicon glyphicon-heart bad-icon"></i>
          <span><%= article.bads.count %></span>
        </div>
        <% if article.price.min == 0 %>
        <div class="viewer">
          <i class="glyphicon glyphicon-user viewer-icon"></i>
          <span><%= article.purchases.count %></span>
        </div>
        <div class="price">
          <%= display_in_yen(article.price.min) %>
        </div>
      <% end %>
      </div>
      <div class="footer row">
        <div class="container_left col-sm-3 col-md-3 col-xs-3">
          <%= user_image_for(article.user) %>
        </div>
        <div class="col-sm col-md col-xs container_center">
          <%= link_to article.user.name, article.user, class: "user-name" %>
        </div>
        <div class="container_right col-sm-4 col-xs-4 col-md-4">
          <span class="time"><%= date_format(article.created_at) %></span>
        </div>
      </div>
    </div>
  </div>
</div>
