<div class="col s8 article-one hvr-float"  id="article-<%= article.id %>">
  <% if article.price.min==0 %>
    <div class="ribbon_area">
     <span class="ribbon">FREE</span>
    </div>
  <% end %>
  <div class="card sticky-action hoverable">
     <div class="card-image">
       <%= link_to display_header_image(article), article%>
       <span class="card-title activator"><%= link_to article.title, article, id: "article-title"%><i class="material-icons right">more_vert</i></span>
     </div>
     <div class="card-content">
       <div class="icons">
         <i class="material-icons like_cancel">thumb_up_alt</i>
         <span><%= article.like_count %></span>
         <i class="material-icons bad_cancel">thumb_down_alt</i>
         <span><%= article.bad_count %></span>
       </div>
       <% if article.price.min != 0 %>
         <div class="icons">
           <i class="material-icons purchase">people</i>
           <span><%= article.purchases.count %></span>
         </div>
         <div class="icons right">
           <%= display_in_yen(article.price.now_price) %>
         </div>
       <% end %>
     </div>
     <div class="card-action">
        <div class="row valign-wrapper">
          <div class="col s4">
            <%= link_to user_image_for(article.user), article.user %>
          </div>
          <div class="col offset-s1 s11">
            <%= link_to article.user.name, article.user, class: "user-name" %>
          </div>
          <div class="col s8">
            <%= date_format(article.created_at) %>
          </div>
        </div>
     </div>
     <div class="card-reveal">
      <span class="card-title"><%= link_to article.title.truncate(38), article, id: "article-title"%><i class="material-icons right">close</i></span>
      <p><%= qiita_markdown(article.content.truncate(100)) %></p>
    </div>
  </div>
</div>
