<div class="fixed-action-btn direction-left">
  <a class="btn-floating btn-large">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red tooltipped" data-position="bottom" data-tooltip="<%= tooltip_h %>"><i class="material-icons">format_color_text</i></a></li>
    <li><a class="btn-floating yellow tooltipped" data-position="bottom" data-tooltip="<%= tooltip_code %>"><i class="material-icons">code</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="bottom" data-tooltip="<%= tooltip_link %>"><i class="material-icons">attach_file</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="bottom" data-tooltip="<%= tooltip_list %>"><i class="material-icons">format_list_bulleted</i></a></li>
    <li><a class="btn-floating orange tooltipped" data-position="bottom" data-tooltip="<%= tooltip_quote %>"><i class="material-icons">textsms</i></a></li>
  </ul>
</div>
<div class="file_btn">
  <a class="btn-floating btn-large">
    <%= render 'file_uploaders/file_form' %>
  </a>
</div>


<%= form_for(@article, html: {class: "article_form", id: "editor"}) do |f| %>
<div class="row">
  <div class="input-field col s24">
    <input id="title_form" type="text" v-model="title" name="article[title]" value="<%=@article.title%>">
    <label for="title_form">Title</label>
  </div>
</div>
<div class="row">
  <div class="content z-depth-2 col s11 offset-s1">
    <textarea v-model="content" name="article[content]" placeholder="記事を入力" id="content"><%= @article.content %></textarea>
  </div>
  <div class="preview z-depth-2 col s11 offset-s1">
    <div class="preview-wrapper">
      <div v-if="content">
        <div v-html="mark(content)" ></div>
      </div>
      <div class="preview-placeholder" v-else style="color: gray;">プレビュー</div>
    </div>
  </div>
</div>
<div class="modal_wrapper">
  <!-- モーダル部分 -->
  <% if controller.action_name=="new" || controller.action_name=='create' %>
    <button :disabled="content.length==0 || title.length==0"
      class="btn-large waves-effect waves-light modal-trigger"  data-target="price-modal">
      価格設定</button>
      <%= render 'price_modal', f: f %>
  <% else %>
    <button type="submit" class="btn">再投稿</button>
  <%end%>
</div>
<%end%>



 <script type="text/javascript">
  var vm = new Vue({
     el: "#editor",
     data: {
       content: "<%= j @article.content %>",
       title: "<%= j @article.title%>",
       minPrice: 0,
       maxPrice: 0,
       rate: "free",
       bool: true,
     },
     methods: {
       mark: function(text){
         return marked(text, {sanitize: true})
       },
       FreeOrToll: function(){
         if(this.bool==true){
           this.minPrice=0
           this.maxPrice=0
           this.rate="free"
         }else{
           this.minPrice=''
           this.maxPrice=''
         }
       },
     },
     computed: {
       isDisabled: function(){
          return this.bool
       },
    }
   });
  window.vm = vm;
 </script>
