<%= render 'file_uploaders/file_form' %>

<%= form_for(@article, html: {class: "article_form", id: "editor"}) do |f| %>
  <input type="hidden" value="<%= current_user.id %>" name="article[user_id]">
  <div class="title">
    <input type="text" v-model="title" name="article[title]" value="<%=@article.title%>" placeholder="タイトル">
  </div>
  <div class="content">
    <textarea v-model="content" name="article[content]" placeholder="記事を入力" id="content"><%= @article.content %></textarea>
  </div>
  <div class="preview">
    <div v-if="content">
      <div v-html="mark(content)" ></div>
    </div>
    <div v-else style="color: gray;">プレビュー</div>
  </div>
  <!-- モーダル部分 -->
  <% if controller.action_name=="new" || controller.action_name=='create' %>
    <button type="button" :disabled="content.length==0 || title.length==0"
      class="btn btn-orange" data-toggle="modal" data-target="#price-modal">
      価格設定</button>
      <%= render 'price_modal', f: f %>
  <% else %>
    <button type="submit" class="btn btn-orange">再投稿</button>
  <%end%>
<%end%>
</div>

 <script type="text/javascript">
  var vm = new Vue({
     el: "#editor",
     data: {
       content: "<%= j @article.content %>",
       title: "<%= j @article.title%>",
       minPrice: 0,
       maxPrice: 0,
       rate: "free",
       bool: true,
     },
     methods: {
       mark: function(text){
         return marked(text, {sanitize: true})
       },
       pressFree: function(){
         this.bool=true
         this.minPrice=0
         this.maxPrice=0
         this.rate="free"
       },
       pressToll: function(){
         this.bool=false
         this.minPrice=''
         this.maxPrice=''
       },
     },
     computed: {
       isDisabled: function(){
          return this.bool
       },
    }
   });
  window.vm = vm;
 </script>
