<%= form_for(@article) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id%>
  <%= form.text_field :title%>
  <div class="field">
    <%= form.text_area :content, 'data-provider': :summernote %>
  </div>
  <%= form.submit :send%>
<% end %>
