<div class="sidebar">
  <div class="feed">
    <div class="feed-form">
      <% if current_user != @article.user%>
        <%= render 'feeds/form', article: @article %>
      <% else %>
        <%= render 'feeds/feeds' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s16 offset-right-s4 valign-wrapper">
      <span><%= user_image_for(@article.user) %></span>
      <span class="col offset-s1"><%= link_to @article.user.name, @article.user %></span>
      <span class="col offset-s1"><%= @article.updated_at.strftime('%Y年%m月%d日に更新')%></span>
    </div>
  <!-- 画面右上：current_userなら編集、その他はfollow_buttonを表示 -->
    <div class="col s4" id="follow">
      <% if @article.user == current_user%>
        <div class="flex">
          <%= link_to "編集", edit_article_path(@article), class: "btn"%>
          <%= render 'articles/confi_modal'%>
        </div>
      <% else %>
      <div class="follow-form">
        <%= render 'follows/form', target: @article.user%>
      </div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <h2>
      <%= @article.title %>
    </h2>
  </div>
  <div class="row">
    <% if @article.price.min == 0 %>
      <%= qiita_markdown(@article.content) %>
    <% elsif current_user %>
      <% if current_user.is_purchased?(@article) || current_user==@article.user %>
        <%= qiita_markdown(@article.content) %>
      <% else %>
        <%= qiita_markdown(@article.content[0..200]+"...")%>
        <%= render 'purchases/form'%>
      <% end %>
    <% else %>
        <%= qiita_markdown(@article.content[0..200]+"...")%>
        <%= render 'purchases/form'%>
    <% end %>
  </div>
  <div class="row">
    <%= social_share_button_tag(@article.title, allow_sites: %w(twitter pinterest linkedin google_plus)) %>
  </div>
</div>

<footer class="page-footer">
  <ul class="collapsible expandable comments">
    <li>
      <div class="collapsible-header valign-wrapper"><i class="material-icons">toc</i>Review List</div>
      <div class="collapsible-body" id="reviews"><%= render 'reviews/reviews'%></div>
    </li>
    <% if current_user %>
      <% if current_user.is_purchased?(@article) %>
        <li>
          <div class="collapsible-header valign-wrapper"><i class="material-icons">create</i>Review New</div>
          <div class="collapsible-body"><%= render 'reviews/form', article: @article %></div>
        </li>
      <% end %>
    <% end %>
    <li>
      <div class="collapsible-header valign-wrapper"><i class="material-icons">insert_comment</i>Comment List</div>
      <div class="collapsible-body comment-index">
        <% if @article.comments.any? %>
          <%= render @article.comments %>
        <% else %>
          コメントはまだありません
          <% end%>
      </div>
    </li>
    <% if current_user %>
      <li>
        <div class="collapsible-header valign-wrapper"><i class="material-icons">edit</i>Comment New</div>
        <div class="collapsible-body"><%= render 'comments/form'  %></div>
      </li>
    <% end %>
  </ul>
</footer>



<%= javascript_pack_tag 'star_reviews' %>
