<div class="row">
  <div class="sidebar col s2">
    <div class="feed">
      <div class="feed-form">
        <% if current_user %>
          <% if current_user != @article.user && (current_user.is_purchased?(@article) || @article.price.rate=='free')%>
            <%= render 'feeds/form', article: @article %>
          <% else %>
            <%= render 'feeds/feeds' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="article_container col offset-s3 s15">
    <div class="row">
      <div class="col s18 valign-wrapper">
        <span><%= user_image_for(@article.user) %></span>
        <span class="col offset-s1"><%= link_to @article.user.name, @article.user, style:"color: #ffca28; font-size: 1.2rem;" %></span>
        <span class="col offset-s1" style="color: #616161;"><%= @article.updated_at.strftime('更新日：%Y/%m/%d')%></span>
      </div>
      <div class="col s6" id="follow">
        <% if @article.user == current_user%>
          <div class="flex right">
            <%= link_to "編集", edit_article_path(@article), class: "btn"%>
            <%= render 'articles/confi_modal'%>
          </div>
        <% else %>
        <div class="follow-form right">
          <%= render 'follows/form', target: @article.user%>
        </div>
        <%end%>
      </div>
    </div>
    <div class="row">
      <h4 style="font-weight:bold;">
        <%= @article.title %>
      </h4>
    </div>
    <div class="row" style="text-align: center;">
      <%= image_tag @article.image, style: "width: 95%; " %>
    </div>

    <!-- <% if have_header_image?(@article) %>
      <div class="article_image_frame">
        <%= image_tag @article.image, class:"article_image" %>
        <span class="article-title"><%= @article.title %></span>
      </div>
    <% else %>
      <div class="row">
        <h4 style="font-weight:bold;"><%= @article.title %></h4>
      </div>
    <% end %> -->

    <div class="row qiita-markdown">
      <% if @article.price.min == 0 %>
        <%= qiita_markdown(@article.content) %>
      <% elsif current_user %>
        <% if current_user.is_purchased?(@article) || current_user==@article.user %>
          <%= qiita_markdown(@article.content) %>
        <% else %>
          <%= qiita_markdown(@article.content[0..200]+"...")%>
          <%= render 'purchases/form'%>
        <% end %>
      <% else %>
          <%= qiita_markdown(@article.content[0..200]+"...")%>
          <%= render 'purchases/form'%>
      <% end %>
    </div>
    <div class="row">
      <%= social_share_button_tag(@article.title, allow_sites: %w(twitter pinterest linkedin google_plus)) %>
    </div>
  </div>

  <div class="col s4">
    <h4 style="color:#ffab00; font-weight:bold;">User's Articles</h4>
    <% @users_viewed_articles.each do |users_viewed| %>
      <%= render 'users_viewd_articles', most_viewed: users_viewed %>
    <% end %>
  </div>
</div>

<footer class="page-footer">
  <ul class="collapsible expandable comments">
    <li>
      <div class="collapsible-header valign-wrapper"><i class="material-icons">toc</i>Review List</div>
      <div class="collapsible-body" id="reviews"><%= render 'reviews/reviews'%></div>
    </li>
    <% if current_user %>
      <% if current_user.is_purchased?(@article) || @article.price.rate=='free' %>
        <li>
          <div class="collapsible-header valign-wrapper"><i class="material-icons">create</i>Review New</div>
          <div class="collapsible-body"><%= render 'reviews/form', article: @article %></div>
        </li>
      <% end %>
    <% end %>
    <li>
      <div class="collapsible-header valign-wrapper"><i class="material-icons">insert_comment</i>Comment List</div>
      <div class="collapsible-body comment-index">
        <% if @article.comments.any? %>
          <%= render @article.comments %>
        <% else %>
          コメントはまだありません
        <% end%>
      </div>
    </li>
    <% if current_user %>
      <li>
        <div class="collapsible-header valign-wrapper"><i class="material-icons">edit</i>Comment New</div>
        <div class="collapsible-body"><%= render 'comments/form'  %></div>
      </li>
    <% end %>
  </ul>
</footer>
