<div class="article_new_wrapper col-md-8 col-md-offset-2">
  <div class="content_wrapper">
    <h2><%= @article.title %></h2>
    <p><%= simple_format @article.content %></p>
  </div>

  <h3>Comments</h3>
  <% if @article.comments.any? %>
    <ul>
      <% @article.comments.each do |comment| %>
        <p><%= comment.user.name %></p>
        <li><%= comment.comment_content %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for ([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.text_area :comment_content, placeholder: 'COMMENT' %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

</div>
