<div class="row">
  <div class="col s6">
    <div class="row">
      <%= user_image_for(@user, size: 100) %>
    </div>
    <div class="row">
      <h3><%= @user.name %></h3>
    </div>
    <div class="row">
      <p><%= @user.profile %></p>
    </div>
    <div class="row">
      <div class="col s12">
        <a class="modal-trigger follow_list_link" href="#follow_list">フォロー</a>
        <p style="padding-left: 4vw; color: #616161;"><%= @user.following.count%></p>
      </div>
      <div class="col s12">
        <a class="modal-trigger follow_list_link" href="#follower_list">フォロワー</a>
        <p style="padding-left: 4vw; color: #616161;"><%= @user.followers.count%></p>
      </div>
    </div>
    <div class="row">
      <% if current_user&&current_user?(@user) %>
        <%= link_to '編集', edit_user_path(@user), class: "btn" %>
      <%else%>
        <div class="follow-form">
          <%= render 'follows/form', target: @user%>
        </div>
     <% end %>
   </div>
  </div>
  <div class="col s18">
    <ul class="tabs">
      <li class="tab col s8">
        <a href="#post-article-tab">投稿記事</a>
      </li>
      <li class="tab col s8">
        <a href="#favorite-article-tab">いいね</a>
      </li>
      <li class="tab col s8">
        <a href="#purchase-article-tab">購入記事</a>
      </li>
    </ul>
    <div class="col s24" id="post-article-tab">
      <%= render 'articles'%>
    </div>
    <div class="col s24" id="favorite-article-tab">
      <%= render 'favorites' %>
    </div>
    <div class="col s24" id="purchase-article-tab">
      <% if @purchases.any?%>
        <%= render 'purchases' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'follow_list_modal' %>
<%= render 'follower_list_modal' %>
