<div id="for_time">


<%= link_to '続きをみる', article_prev_path(@article), method: :get, remote: true, class: "btn waves-effect waves-light modal-trigger", "data-target": "myModal", "v-on:click": "time_init" %>

<div class="modal" id="myModal">
  <div class="modal-header row valign-wrapper">
    <h5 class="modal-title col s14 offset-s9">
      購入しますか？
    </h5>
    <button type="button" class="modal-close btn-flat col s1">
      <span aria-hidden="true">&#215;</span><span class="sr-only"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="controls">
      <div class="row">
        <p class="article_title"><%= @article.title %></p>
      </div>
      <div class="row">
        <div class="col s8 now_price">
          <label>現在価格</label>
          <p><%= display_in_yen(@article.price.now_price) %></p>
        </div>
        {{time}}
      </div>
      <div class="row">
        <%= render 'purchases/card_form'%>
      </div>
    </div>
  </div>
</div>

</div>
<%= javascript_pack_tag 'time' %>
