<div class="write-review">
  <div class="row">
    <p style="border-bottom: 1px solid;"><%= article.title %></p>
  </div>
  <%= form_for [@article, @review] do |f| %>

    <div class="row">
      <div class="col s20">
        <div class="input-field col s24">
          <div id="star" class="star-size">
            <%= f.label :star %>
            <%= f.hidden_field :star, id: :star %></br>
          </div>
        </div>
        <div class="input-field col s24">
          <input id="review_title" type="text" name="title" value="<%= @review.title%>">
          <label for="review_title">Title</label>
        </div>
        <div class="input-field col s24">
          <textarea id="review_content" class="materialize-textarea" name="content" ><%= @review.content %></textarea>
          <label for="review_content">Content</label>
        </div>
      </div>
      <div class="col s4 center-align">
        <input type="submit" class="btn btn-brown">
      </div>
  </div>
  <% end %>
</div>

  <script>
  $('#star').raty({
    size     : 32,
    starOff: '<%= asset_path('star_off.png') %>',
    starOn : '<%= asset_path('star_on.png') %>',
    scoreName: 'star',
    score: <%= @review.star||= 0 %>
  });
  </script>
