<div class="write-review">
  <div class="row">
    <p style="border-bottom: 1px solid;"><%= article.title %></p>
  </div>
  <%= form_for [@article, @review] do |f| %>
    <input type="hidden" value="<%= article.id%>" name="article_id">
    <input type="hidden" value="">
    <div class="row" id="star-rate">
      <% if @review.star %>
        <star-rating :star-size="20" :rating="<%= @review.star %>" @rating-selected="setRating">
        </star-rating>
      <% else %>
        <star-rating :star-size="20" v-model="rating">
        </star-rating>
      <% end %>
      <div v-if="rating">
        <input type="hidden" v-bind:value="rating" name="star">
      </div>
    </div>
    <div class="row">
      <div class="col s20">
        <div class="input-field col s24">
          <input id="review_title" type="text" name="title" value="<%= @review.title%>">
          <label for="review_title">Title</label>
        </div>
        <div class="input-field col s24">
          <textarea id="review_content" class="materialize-textarea" name="content" ><%= @review.content %></textarea>
          <label for="review_content">Content</label>
        </div>
      </div>
      <div class="col s4 center-align">
        <input type="submit" class="btn btn-brown">
      </div>
  </div>
  <% end %>
</div>
<%= javascript_pack_tag 'star' %>
