<div class="review-one" style="border: 1px solid;">
  <div id="star-result-<%= review.id %>" class="star-size">
  </div>
  <div class="review-title">
    <%= review.title %>
  </div>
  <div class="review-content">
    <%= review.content%>
  </div>
</div>
 <script>
   $("#star-result-<%= review.id %>").raty({
     starOn: '<%= asset_path('star_on.png')%>',
     starOff: '<%= asset_path('star_off.png')%>',
     readOnly: true,
     score: <%= review.star %>
   })
 </script>
